# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++,1c
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,c++,1c

### 1C ###
# 1C external data processors on unmanaged formes

**/Form/**/form
src/**/und/*
src/**/maps.txt
src/**/renames.txt

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,c++,1c
produto_matrizes
area_trinagulo_funcoes
area_retangulo_funcoes
media_aritmetica
fatorial
funcoes_fatorial
jogo_tesouro
